arrow==1.2.2
Babel==2.9.1
beautifulsoup4==4.10.0
certifi==2021.10.8
charset-normalizer==2.0.11
click==8.0.3
colorama==0.4.4
comtypes==1.1.10
gTTS==2.2.3
idna==3.3
libretranslatepy==2.1.1
lxml==4.8.0
numpy==1.22.2
opencv-python==4.5.5.62
pandas==1.4.1
pi==0.1.2
Pillow==9.0.1
playsound==1.2.2
preferredsoundplayer==0.0.5
pygame==2.1.2
PyMuPDF==1.19.5
pyodbc==4.0.32
pypiwin32==223
pypng==0.0.21
PyQRCode==1.2.1
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.1
python-dateutil==2.8.2
python-vlc==3.0.12118
pyttsx3==2.90
pytz==2021.3
pywin32==303
qrcode==7.3.1
qrtools==0.0.2
requests==2.27.1
six==1.16.0
soupsieve==2.3.1
tinytag==1.7.0
tk==0.1.0
tkcalendar==1.6.1
tkPDFViewer==0.1
translate==3.6.1
ttkwidgets==0.12.1
urllib3==1.26.8
xlrd==2.0.1
